@background-color: #CAA77E;
@text-color: #1A237E;
@green: rgba(41, 255, 31, 1);
@green-light: @yellow: rgba(253, 233, 0, 1);
@yellow-light: rgba(255, 255, 145, 1);
@grey-dark: rgba(50, 60, 67, 1);
@grey: rgba(83, 91, 97, 1);
@grey-light: rgba(214, 216, 217, 1);
@ps-factor: 1.333;
@navbar-height: 80px;
@menu-size: 12px*@ps-factor;
@motto-size: 38px*@ps-factor;
@slogan-size: 60px*@ps-factor;
@headline-size: 31px*@ps-factor;
@second-headline-size: 14px*@ps-factor;
@subline-size: 17px*@ps-factor;
@second-subline-size: 11px*@ps-factor;
@product-headline-size: 37px*@ps-factor;

/*@product-headline-size:30px;*/

@product-subline-size: 14px*@ps-factor;
@product-price-size: 17px*@ps-factor;
@product-subline-letter-spacing: 1.5px;
@trainer-motto-size: 15px*@ps-factor;
@trainer-headline-size: 18px*@ps-factor;
@trainer-subline-size: 12px*@ps-factor;
@trainer-text-size: 17px*@ps-factor;

/*@trainer-text-color: @grey-light;*/

@review-text-size: 11px*@ps-factor;
@review-subline-size: 11px*@ps-factor;
@partner-headline-size: 17px*@ps-factor;
@contact-headline-size: 17px*@ps-factor;
@contact-input-placeholder-size: 9px*@ps-factor;
@newsletter-text-size: 14px*@ps-factor;
@impressum-size: 12px*@ps-factor;
@button-text-size: 10px*@ps-factor;
@button-padding-size: 10px*@ps-factor;
@button-letter-spacing: 1px*@ps-factor;

/*general tag data*/


/*section {
    z-index: -101;
}*/

h1 {
    font-size: @headline-size;
}

h3 {
    font-size: @second-headline-size;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    font-size: @contact-input-placeholder-size;
    font-family: 'FiraSans-LightItalic';
}

input::-moz-placeholder,
input:-moz-placeholder,
textarea::-moz-placeholder,
textarea:-moz-placeholder {
    font-size: @contact-input-placeholder-size;
    font-family: 'FiraSans-LightItalic';
    opacity: 1;
}


/*greenline z-index handling start*/

.test-polygon,
#trainer,
#courts,
#partner,
#kontakt {
    z-index: -102;
}

nav {
    z-index: 1000000;
}

.product-thumb,
#gmap-one {
    z-index: 100;
}


/*greenline z-index handling end*/


/*navbar*/

.navbar-toggle {
    margin-top: 24px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: @grey-dark;
}

.navbar {
    background-color: @grey-dark;
    font-size: @menu-size;
}

.navbar-default {
    height: @navbar-height;
}

.navbar-header {
    padding-bottom: 0;
    height: @navbar-height;
}

.navbar-nav,
.navbar-collapse {
    float: none!important;
    position: relative;
    z-index: 9999;
    /*background-color: #3a3ff9;*/
}

.navbar-brand {
    height: 100%;
}

.img-brand {
    margin-top: 6px;
    height: 45px;
}


/*intro section*/

#intro {
    z-index: 1;
}

.logo-motto {
    font-size: @motto-size;
    font-family: 'Yesteryear-Regular';
}

.logo-slogan {
    font-size: @slogan-size;
    font-family: 'Baloo-Regular';
}

.second-headline {
    margin-bottom: 15px;
    font-size: @second-headline-size;
}

.first-subline {
    font-size: @subline-size;
}

.second-subline {
    font-size: @second-subline-size;
}

#intro i {
    color: @green;
    font-size: @second-headline-size*1.5;
}


/*products*/

.test-polygon {
    width: 100%;
    height: 119px;
    background-color: #FDE900;
    -moz-clip-path: polygon(0 100%, 72% 0, 70% 52%, 100% 10%, 100% 100%);
    -webkit-clip-path: polygon(0 100%, 72% 0, 70% 52%, 100% 10%, 100% 100%);
    clip-path: polygon(0 100%, 72% 0, 70% 52%, 100% 10%, 100% 100%);
}

.product-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 55px;
    padding-bottom: 20px;
    margin: auto;
    transition: background-color 0.5s ease;
}

.product-headline {
    font-family: 'Baloo-Regular';
    font-size: @product-headline-size;
    line-height: @product-headline-size;
    margin-bottom: 0px;
}

.product-subline {
    font-family: 'FiraSans-LightItalic';
    font-size: @product-subline-size;
    letter-spacing: @product-subline-letter-spacing ;
    line-height: @product-subline-size;
    margin-bottom: 10px;
}

.product-price {
    font-family: 'FiraSans-Medium';
    font-size: @product-price-size;
    line-height: @product-price-size;
    margin-bottom: 0px;
}

.product-users {
    position: absolute;
    padding-right: 20px;
    bottom: 0;
    right: 0;
}


/*trainers*/

.img-trainer {
    height: 160px;
    width: 160px;
    margin-bottom: 20px;
}

.trainer-motto {
    font-family: 'FiraSans-LightItalic';
    font-size: @trainer-motto-size;
}

.trainer-headline {
    font-family: 'Baloo-Regular';
    font-size: @trainer-headline-size;
    line-height: @trainer-headline-size;
    margin-bottom: 0px;
}

.trainer-subline {
    font-size: @trainer-subline-size;
    font-family: 'FiraSans-LightItalic';
}

.trainer-text {
    font-size: @trainer-text-size;
    font-family: 'FiraSans-Light';
}


/*courts*/


/* Map */

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

#gmap-one {
    pointer-events: none;
    height: 400px;
    width: 100%;
}


/*client review*/

.review-text {
    font-size: @review-text-size;
    font-family: 'FiraSans-Light';
}

.review-subline {
    font-size: @review-subline-size;
    font-family: 'FiraSans-Light';
}


/*partner*/

.partner-headline {
    font-size: @partner-headline-size;
    font-family: 'FiraSans-Light';
}


/*contact*/

.contact-headline {
    font-size: @contact-headline-size;
    font-family: 'FiraSans-Light';
}

.newsletter-text {
    font-size: @newsletter-text-size;
    font-family: 'Baloo-Regular';
    line-height: 24px;
}

.impressum-text {
    font-size: @impressum-size;
    font-family: 'FiraSans-Light';
}

.btn-default {
    font-family: 'FiraSans-Regular';
    font-size: @button-text-size;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: @button-letter-spacing;
    line-height: 10px;
}

.input-group-addon {
    font-family: 'FiraSans-Regular';
    font-size: @button-text-size;
    /*    padding: @button-padding-size;*/
    letter-spacing: @button-letter-spacing;
    color: @grey-light;
    background-color: @grey;
    border: 0;
}

.form-control {
    background-color: @grey-light;
}

.scroll-up {
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-size: 30px;
    color: @green;
}